h2{
    color:aquamarine;
}

body{
    background: grey;
}

button {
    width: 100px;
    padding: 10px;
    background: blueviolet;
    color: rgb(46, 10, 10);
    border: rgb(45, 172, 33);
    cursor: pointer;
    border-radius: 15%;
}